# 연산자, 조건문, 반복문, 함수, 몬테카를로 함수

- 산술연산자

In [1]:
5/2

[1] 2.5

In [5]:
# 나머지
5%%2

[1] 1

In [12]:
5^2
5**2

[1] 25

[1] 25

- 파이썬에서는...
```python
5//2 => 몫
5%2 => 나머지
5**2 => 제곱
```

In [14]:
100^20

[1] 1e+40

- 1e+40 => 1뒤에 40개의 0이 있다는 표현으로 아주 큰 값을 표기해야 하는 경우

---

- 관계연산자는 파이썬과 동일하다
  - ==,!=,<,>,<=,>=

---

- 논리연산자
  - 산술연산자와 관계연산자를 이용한 논리식이 참이면 TRUE 거짓이면 FALSE를 반환
  - &,|

In [16]:
!(100>=50)
# 괄호 안의 관계식 판단 결과에 대한 부정

[1] FALSE

In [18]:
x=TRUE;y=FALSE
# 배타적 논리합을 연산하는 xor() 함수는 두 논리적인 값이 상반되는 경우 TRUE를 반환하고, 같으면 FALSE를 반환한다.
xor(x,y)

[1] TRUE

---

- 조건문

1) if() 함수
  - 비교판단문을 작성할 수 있다.

In [25]:
x=50;y=4;z=x*y
if(x*y>=40){
    cat('x*y의 결과는 40이상입니다.\n')
    cat('x*y=',z)
}else{
    cat('x*y의 결과는 40미만입니다. x*y = ',z)
}

x*y의 결과는 40이상입니다.
x*y= 200

- cat은 format과 print와 유사한 출력함수이다.
- 동일하진 않고 일부 차이가 있는 것으로 보인다.

In [29]:
score=79;result='노력'
if(score>=80){
    result<-'우수'
    }else{
    result='노력필요'}
cat('당신의 학점은',result,score)

당신의 학점은 노력필요 79

In [30]:
result

[1] "노력필요"

In [31]:
score=90

if(score>=90){
    result='a'
    }else if(score>=80){
    result='b'
    }else if(score>=70){
    result='c'}

In [32]:
cat('당신의 학점은',result)

당신의 학점은 a

- 파이썬에서는 else if가 아니라 elif였음

---

- ifelse(조건식, 참인경우일때 처리문, 거짓인 경우일 때의 처리문)

In [33]:
score=90

ifelse(score>=80,'우수','노력')

[1] "우수"

- ifelse의 조건식에서, a>=2 & a<=4 이런식으로 논리 연산자 사용 가능하다

---

- switch() 함수
  - 비교 문장의 내용에 따라서 여러 개의 실행 문장 중 하나를 선택할 수 있도록 프로그램을 작성할 수 있다.
  - swtich(비교문, 실행문1[,실행문2,실행문3,...])

- 비교문 위치에 있는 변수의 이름이 실행문 위치에 있는 변수의 이름과 일치할 때 일치하는 변수에 할당된 값을 출력한다.

In [34]:
switch('name',id='a',age=32,name='awf')

[1] "awf"

---

- which()
  - 벡터 객체를 대상으로 특정 데이터를 검색하는 데 사용되는 함수 이다.

In [41]:
name=c('a1','a2','a3','a4')
which(name!='a3')
which(name=='a2')

[1] 1 2 4

[1] 2

In [38]:

which(name=='a5')

integer(0)

- 조건식의 결과가 참인 벡터 원소의 위치(인덱스)가 출력되며, 조건식의 결과가 거짓이면 0이 출력된다.
  - btw 거짓이면 아무것도 출력되지 않는 것 같다.

- data.frame에서 활용해보자

In [43]:
no = 1:4
name = c('a','b','c','d')
score = c(12,123,4,124)
exam = data.frame(학번=no, 이름=name, 성적=score)
exam

  학번 이름 성적
1 1    a     12
2 2    b    123
3 3    c      4
4 4    d    124

In [44]:
which(exam$이름=='b')

[1] 2

In [45]:
exam[2,]

  학번 이름 성적
2 2    b    123

- which 함수는 크기가 큰 데이터프레임이나 테이블 구조의 자료를 대상으로 특정 정보를 검색하는 데 유용하게 사용된다.

---

- 반복문

In [47]:
for(n in 1:10){
    print(n)
    print(n * 10)}

[1] 1
[1] 10
[1] 2
[1] 20
[1] 3
[1] 30
[1] 4
[1] 40
[1] 5
[1] 50
[1] 6
[1] 60
[1] 7
[1] 70
[1] 8
[1] 80
[1] 9
[1] 90
[1] 10
[1] 100

In [51]:
for(n in 1:10)
    if(n%%2==0) print(n)

[1] 2
[1] 4
[1] 6
[1] 8
[1] 10

- 바로 위 셀처럼 반복할 문장이 하나 뿐일 때는 {}를 생략할 수 있다

In [53]:
for(n in 1:10){
    if(n%%2==0){
        next # 다음 문장으로 skip, 반복문 계속(continue와 동일)
        }else{
        print(n)}}

[1] 1
[1] 3
[1] 5
[1] 7
[1] 9

- for() 함수의 반복 범위에서 문장을 실행하지 않고 계속 반복할 때는 next문을 사용한다.

In [54]:
exam

  학번 이름 성적
1 1    a     12
2 2    b    123
3 3    c      4
4 4    d    124

- 변수의 칼럼명 출력하기

In [55]:
names(exam)

[1] "학번" "이름" "성적"

In [56]:
for(n in c(names(exam))){
    print(n)}

[1] "학번"
[1] "이름"
[1] "성적"

---

In [59]:
i=1
name=c('a','b','c')
for(s in c(85,95,98)){
    cat(name[i],'->',s,'\n')
    i=i+1
}

a -> 85
b -> 95
c -> 98

---

- while() 함수
  - for() 함수와 동일한 방식으로 수행된다. for() 함수와 차이점으로 for() 함수는 반복 회수를 결정하는 변수를 사용하는 대신에 while 함수는 사용자가 블록 내에서 증감식을 이용하여 반복 회수를 지정해야 한다.

In [60]:
i=0
while(i<10){ # 이런식으로 증감식을 이용하여 반복 횟수를 지정한다.
    print(i)
    i=i+1}

[1] 0
[1] 1
[1] 2
[1] 3
[1] 4
[1] 5
[1] 6
[1] 7
[1] 8
[1] 9

---

- 함수 정의

```python
# 파이썬에서는 아래와 같이 함수를 정의하지만
def f(x):
    print(x+2)
# R에서는 아래와 같이 함수를 정의한다.
```
```r
f1=function(매개변수 자리인데 없이도 가능하다){실행문}
```

In [61]:
f1=function(){
    print('매개변수가 없는 함수')}
f1()

[1] "매개변수가 없는 함수"

- 매개변수가 없는 함수는 '함수명()' 형태로 함수명에 빈 괄호를 붙여 호출한다.
- 정의된 함수를 호출하지 않으면 함수의 내용은 실행되지 않는다

In [62]:
f3=function(x,y){
    add <- x+y
    return(add)}

In [63]:
f3(10,20)

[1] 30

---

- 기술통계량을 계산하는 함수 정의
  - 추론 통계의 기초 정보를 제공하는 요약 통계량, 빈도수 등의 기술통계량을 계싼하는 함수를 정의해본다
  - 119p 참고!

---

- 분산과 표준편차를 구하는 사용자 함수 정의

In [64]:
x=c(7,5,12,9,15,6)
var_sd = function(x){
    var = sum((x-mean(x))^2/length(x)-1) # 표본 분산
    sd = sqrt(var)
    cat('표본 분산',var,'\n')
    cat('표본 표준 편차',sd)}

In [65]:
var_sd(x)

표본 분산 6.333333
표본 표준 편차 2.516611

- 구구단 함수 정의

In [67]:
gugudan=function(i,j){
    for(x in i){ # 단수 지정
    cat(x,'단을 외워봅시다\n')
        for(y in j){
            cat(x,'*',y,'=',x*y,'\n')
            }
        cat('\n')}}
gugudan(2:9,1:9)

2 단을 외워봅시다
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

3 단을 외워봅시다
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

4 단을 외워봅시다
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36

5 단을 외워봅시다
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

6 단을 외워봅시다
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54

7 단을 외워봅시다
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63

8 단을 외워봅시다
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72

9 단을 외워봅시다
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

- 결측치 포함 자료의 평균 계산 함수 정의

In [74]:
data= c(10,20,5,4,40,7,NA,6,3,NA,2,NA)

In [84]:
# 결측치 데이터 처리하는 함수 정의
na = function(x){
    # 첫 번째 방법 : NA제거
    cat(x,'\n')
    cat(mean(x,na.rm=T),'\n')
    cat('\n')
    
    # 두 번째 방법 : NA를 0으로 대체하여 처리
    data = ifelse(!is.na(x),x,0)
    cat(data,'\n')
    cat(mean(data),'\n')
    cat('\n')
    
    # 세 번째 방법 : NA를 평균으로 대체하여 처리
    data2 = ifelse(!is.na(x),x,round(mean(x,na.rm=T),2))
    cat(data2,'\n')
    cat(mean(data2),'\n')}

In [85]:
na(data)

10 20 5 4 40 7 NA 6 3 NA 2 NA
10.77778

10 20 5 4 40 7 0 6 3 0 2 0
8.083333

10 20 5 4 40 7 10.78 6 3 10.78 2 10.78
10.77833

---

- 몬테카를로 시뮬레이션 함수 정의
  - 현실적으로 불가능한 문제의 해답을 얻기 위해서 난수의 확률 분포를 이용하는 모의 시험으로 근사적 해를 구하는 기법

In [103]:
coin=function(n){
    r = runif(n,min=0,max=1)
    result=numeric()
    for(i in 1:n){
        if(r[i]<=0.5)
            result[i]=0 # 앞면, 실행문이 하나일 땐 {}생략 가능하다
        else
            result[i]=1} # 뒷면
        return(result)}

In [104]:
coin(10)

 [1] 1 0 0 0 0 0 1 1 1 1

In [105]:
montaCoin=function(n){
    cnt = 0
    for(i in 1:n){
        cnt = cnt + coin(1) # n 시행 횟수만큼 동정 함수 호출
        }
    result = cnt/n
    return(result)}

In [106]:
montaCoin(1000)
montaCoin(100000)

[1] 0.486

[1] 0.50078