# 데이터 처리 연습

- 키보드 직접 데이터 입력받기

In [3]:
num <- scan()

- 파이썬에서의 input()과 동일하다.
- 다만 주피터 노트북에서는 실행이 안 되고 Rstudio에서 가능한 것 같다.
- 입력된 데이터는 입력된 순서대로 벡터 변수 num에 저장된다.

In [2]:
name <- scan(what = character())

- 키보드로 문자를 입력하기 위함이다.
- 입력한 문자는 순서대로 name 벡터로 저장된다.

---

```r
df = data.frame()
df = edit(df)
```

- 데이터 입력을 돕기 위해 표 형식의 데이터 편집기를 제공한다.
- Rstudio에서 실행시 사용할 수 있다.

---

- 파일에 저장된 데이터를 불러오기

- read.table()
  - 테이블(칼럼이 모여서 레코드 구성) 형태로 작성되어 있으며, 칼럼이 공백, 탭, 콜론, 세미콜론, 콤마 등으로 구분된 자료 파일을 불러올 수 있는 함수이다.
  - 만약 구분자가 공백이거나 탭이면 sep 속성을 생략할 수 있다. 또한 칼럼명이 있는 경우 header 속성은 TRUE로 지정한다.

In [84]:
getwd()
# 현재 작업 디렉토리의 경로 확인

[1] "C:/Users/ehfus/Downloads/R"

In [85]:
setwd('C:/Users/ehfus/Downloads/R')
# 작업 디렉토리 설정

In [89]:
student <- read.table(file = 'first.txt')

In [90]:
student
# 칼럼명이 없을 경우 기본으로 V1~으로 설정된다.

  V1  V2 V3 V4
1 101 1  1  1
2 101 1  1  1
3 101 1  1  1
4 101 1  1  1

In [91]:
# 칼럼명 변경
names(student)<-c('a','a2','a3','a4')
student

  a   a2 a3 a4
1 101 1  1  1
2 101 1  1  1
3 101 1  1  1
4 101 1  1  1

---

In [92]:
student <- read.table(file = 'second.txt',sep=',',header=T,encoding="UTF-8" )

In [93]:
student

  번호 이름 성별 몸무게
1 10   1    1    1
2 10   1    1    1
3 10   1    1    1
4 sd   ad   ad   ad

In [94]:
student <- read.table(file = 'second.txt')

In [95]:
student

  V1
1 10,1,1,1
2 10,1,1,1
3 sd,ad,ad,ad

- 구분자 입력 안 해줘서 10,1,1,1이 하나의 요소로 해석된 모양이다

---

- 탐색기를 통해서 파일 선택하기

In [56]:
student <- read.table(file.choose(),sep=',',header=T,encoding="UTF-8")

In [57]:
student

  번호 이름 성별 몸무게
1 10   1    1    1
2 10   1    1    1
3 10   1    1    1
4 sd   ad   ad   ad

- 파일에 특정 문자열을 NA로 처리하여 파일을 불러올 수 있다.
  - na.strings = '-'를 통해 처리할 수 있다.

---

- 엑셀에서는 작업한 파일을 R에서 처리할 수 있도록 CSV 형식으로 변환하여 저장할 수 있다. 
- CSV(comma separation valule) 파일 형식은 콤마를 기준으로 각 칼럼을 구분하여 저장한 데이터 형식을 말한다.
- sep=','가 기본값이며, header=T가 기본값이다. 따라서 칼럼명이 있는 경우에 header속성은 생략할 수 있다.

In [134]:
read.csv(file = 'third.csv',encoding="UTF-8")

  X.U.FEFF.asasd asd asd.1 곽
1    1           123 1234  123
2 1234           214  124   24

- csv파일 형식이 아닌 엑셀 파일(.xlsx)을 직접 R에서 불러올 수도 있다.
- 엑셀 파일은 일반 파일과는 달리 시트(sheet) 단위로 자료를 저장한다. 따라서 엑셀 파일을 읽을 때는 시트명과 셀의 범위를 지정해서 읽는다.

In [135]:
install.packages('readxl')
library(readxl)

package 'readxl' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\ehfus\AppData\Local\Temp\RtmpEH2tA1\downloaded_packages

- 기본함수가 아니기 때문에 위와 같은 셀이 필요하다

In [142]:
read_excel(path='fourth.xlsx',sheet='fourth')

New names:
* asd -> asd...2
* asd -> asd...3

  asasd asd...2 asd...3 곽
1    1  123     1234    123
2 1234  214      124     24

---

- 인터넷에서 파일 가져오기
  - 인터넷에서 제공하는 CSV 파일 형식의 데이터를 해당 사이트에서 직접 R 스트립트로 가져와서 데이터를 가공 처리한 후 분석에 활용할 수 있다.
  - 99p를 참고하자